@tailwind base;
@tailwind components;

@layer base {
  body {
    @apply font-montserrat bg-white;
  }
}

@layer components {
  .wrap {
    @apply flex flex-col w-full lg:w-[80%] lg:rounded-[15px] lg:p-[20px] min-h-[700px] md:min-h-[900px] border-solid border-bordercl lg:border-[1px] gap-[50px];
  }

  .wrapAdmin {
    @apply flex flex-col w-[calc(100%_-_250px)] mt-[80px] ml-[250px] gap-[40px] p-[20px];
  }

  .selfBtn {
    @apply border-[1px] border-bordercl rounded-[5px] p-[5px] hover:bg-primary hover:text-white md:hover:scale-[1.2] md:transition-all whitespace-nowrap text-center cursor-pointer;
  }

  .disableBtn {
    @apply border-[1px] border-bordercl rounded-[5px] p-[5px] whitespace-nowrap text-center bg-bordercl cursor-not-allowed !important;
  }

  .eventWrap {
    @apply flex flex-col w-full lg:w-[80%] lg:rounded-[15px] lg:p-[20px] min-h-[700px] md:min-h-[900px] border-solid border-bordercl lg:border-[1px] gap-[10px];
  }
}

h2 {
  @apply text-[20px] md:text-[24px] font-semibold  text-black;
}

h3 {
  @apply text-[16px] md:text-[18.72px] font-semibold  text-black;
}

a {
  @apply text-black;
}

h1 {
  @apply text-4xl;
  @apply font-bold  text-black;
}
h4 {
  @apply text-xl;
  @apply font-semibold  text-black;
}
h5 {
  @apply text-lg;
  @apply font-semibold  text-black;
}
h6 {
  @apply text-sm;
  @apply font-semibold  text-black;
}

p {
  @apply font-normal text-black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* #one-time-code{
  display: none;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar1 {
  margin-top: 20px;
}

.sidebar2 {
  margin-top: 20px;
}

.sidebar3 {
  margin-top: 20px;
}

.sidebar4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ::-webkit-scrollbar-thumb {
  background-color: red;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;  
}
::-webkit-scrollbar {
  width: 16px;
} */

/* Loading react lazy*/
.loading {
  margin-left: 10px;
}

/* imgSlider HomePage*/
.awssld {
  height: 300px;
}

.awssld__wrapper {
  border-radius: 10px;
}

.awssld__bullets {
  bottom: 20px !important;
  z-index: 2;
}

.wrapSlider {
  height: 300px;
}

/* CSS Toast */
.toast {
  top: 10% !important;
}

.wrapbody > div {
  margin-top: 40px;
}

/* mobile */
@media screen and (max-width: 46.1875em) {
  .wrapbody > div {
    margin-top: 20px;
  }

  .recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis {
    display: none;
  }

  .awssld {
    height: 150px;
  }

  .awssld__bullets > button {
    height: 8px !important;
    width: 8px !important;
  }

  #one-time-code ~ div {
    --ReactInputVerificationCode-itemWidth: 2.5rem;
    --ReactInputVerificationCode-itemHeight: 3rem;
    width: var(--ReactInputVerificationCode-itemWidth);
    height: var(--ReactInputVerificationCode-itemHeight);
  }

  /* Reponsive Lich Hoc */
  .fc-list-event-time {
    font-size: 15px;
  }

  .fc-list-event-title {
    font-size: 15px;
  }
}

.fc-v-event {
  border: unset !important;
  background-color: unset !important;
}
